.container {
	margin: 50px auto;
	max-width: 500px;
	background-color: #555753e1;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

h1 {
	text-align: center;
	margin-bottom: 30px;
}
h2 {
	text-align: center;
	margin-bottom: 30px;
    padding: 20px;
}

form {
	display: flex;
	flex-direction: column;
    
}

label {
	margin-bottom: 10px;
}

input {
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: none;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

button {
	background-color: #000000d3;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
}

button:hover {
	background-color: #0979d4;
}

header {
	background-color: #716f77b4;
	color: #fff;
	padding: 10px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 20px;
	overflow: hidden;
}

nav li {
	float: left;
}

nav li a {
	display: block;
	color: rgb(23, 2, 43);
	text-align: center;
	padding: 25px
}